
$primary   : #006D82;
$secondary : #5FC6CC;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #81C784;
$negative  : #EF5350;
$info      : #64B5F6;
$warning   : #FFCA28;
$white     : #FFFFFF;


//////////// QTable variables ////////////
$QTable-max-heigth: 80vh;
$QTable-tr-height: 48px;
$QTable-td-max-width: 350px;
$QTable-td-min-width: 100px;

//////////// QSelect variables ////////////
$QSelect-min-width: 250px;
$QSelect-max-width: 250px;